@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-bg: #f7f7f7;
  --light-block: #ffffff;
  --light-accent: #00c78b;
  --light-text: #094a54;

  --dark-bg: #11363c;
  --dark-block: #094a54;
  --dark-accent: #00c78b;
  --dark-text: #ffffff;
}

.light {
  --bg-color: var(--light-bg);
  --block-color: var(--light-block);
  --accent-color: var(--light-accent);
  --text-color: var(--light-text);
  --svg-stroke-color: #26616a;
}

.dark {
  --bg-color: var(--dark-bg);
  --block-color: var(--dark-block);
  --accent-color: var(--dark-accent);
  --text-color: var(--dark-text);
  --svg-stroke-color: #ffffff;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.amo-button-holder {
  right: 37px !important;
  bottom: 32px !important;
}

@media (max-width: 500px) {
  .amo-button-holder {
    right: 30px !important;
  }
}

.noFill {
  fill: none !important;

  &:hover {
    fill: none !important;
  }
}

.svgCustomColorStroke {
  stroke: var(--svg-stroke-color) !important;
}

svg {
  max-width: 100%;
}